<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>ameram study -abu elfaruk</title>
    
</head>
<body style="margin: 0px;overflow: hidden;">
    <div style="margin: 0px;">
        
        <%- body %>
    </div>
</body>
</html>